body {
  font-family: monospace;
  color: #303E96;
  text-align: center;
  margin: 0;
  background-image: url("paper_fibers.png")
}

.legat {
  background-image: url("groovepaper.png");
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.element {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.centralized {
  justify-content: center;
}

#simulation {
  width: 560px;
  height: 300px;
}
